<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
  
</head>
<body>
    <div class="header">
        <h2 class="heading">Create User</h2>
                <form action="{% url 'users:register' %}" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <!-- can also be form.as_p, form.as_ul -->
                <input type="submit" value="Create User">
            </form>
    </div>
</br>
</br>
</body>
</html>