{% extends "users/base.html" %}

{% load staticfiles %}
 {% block content %}
   

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Portfolio<b>X</b></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <form class="navbar-form navbar-right" action="{% url 'users:login' %}" method="POST" >
            {% csrf_token %}
            <div class="form-group">
                <!-- {{ form.as_div}} -->
                <!-- can also be form.as_p, form.as_ul -->
            </div>
            <div class="form-group">
              <input name="username" type="text" placeholder="Email" class="form-control">
            </div>

            <div class="form-group">
              <input name="password" type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Portfolio<b>X</b>!</h1>
        <p>Keep tabs on your stocks, 401k, and IRA. Track them all in one place, in real-time . Sign up in seconds, 100% free. FREE! START NOW </p>
  <p><a class="btn btn-primary btn-lg" href="/users/create_user" role="button">Register &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row marketing-row">
        <div class="col-md-4 text-center">
          <i class="fa fa-smile-o fa-5x"></i>
          <h2 class="text-center">Simple To Use</h2>
          <p class="text-center">No matter what type of investor you are, keeping an eye on your investments is always a priority. Thankfully, this website devoted to this task are continually offering more powerful portfolio management tools to help you do just that.</p>
        </div>

        <div class="col-md-4 text-center">
          <i class="fa fa-pie-chart fa-5x"></i>
          <h2 >Efficent Tracking</h2>
          <p >Our reports offered are more robust than those found in others software programs.Our online portfolio tracker can handle Cash, Stocks, Mutual Funds and ETFs. Plus we are constantly adding new features and functionality.</p>
       </div>
        <div class="col-md-4 text-center">
          <i class="fa fa-shield fa-5x"></i>
          <h2 class="text-center">Secure Data</h2>
          <p class="text-center"> PortfolioX online portfolio management service solves the problem of tracking separate accounts by allowing users to combine and analyze all assets in one location, making it easy to monitor all holdings as one complete portfolio.</p>
        </div>
      </div>

    <div class="row question-row">
      <h2 class="text-center"> Frequently Asked Questions</h2>
      <hr>
      <div class="col-md-6">
        <h4>Why Use PortfolioX?</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quisquam ratione suscipit perferendis dolorem esse in quas perspiciatis, aperiam recusandae itaque ab consectetur animi commodi consequuntur deserunt, expedita adipisci at! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis, ducimus mollitia voluptates, voluptate accusamus. Alias veniam, expedita distinctio est, repellat unde vel enim labore doloribus beatae esse amet ad.</p>      
      </div>

       <div class="col-md-6">
        <h4>How Was PortfolioX Built?</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quisquam ratione suscipit perferendis dolorem esse in quas perspiciatis, aperiam recusandae itaque ab consectetur animi commodi consequuntur deserunt, expedita adipisci at! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis, ducimus mollitia voluptates, voluptate accusamus. Alias veniam, expedita distinctio est, repellat unde vel enim labore doloribus beatae esse amet ad.</p>      
      </div>

       <div class="col-md-6">
        <h4>Why Do I Need It?</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quisquam ratione suscipit perferendis dolorem esse in quas perspiciatis, aperiam recusandae itaque ab consectetur animi commodi consequuntur deserunt, expedita adipisci at! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis, ducimus mollitia voluptates, voluptate accusamus. Alias veniam, expedita distinctio est, repellat unde vel enim labore doloribus beatae esse amet ad.</p>      
      </div>

       <div class="col-md-6">
        <h4>Who Built This?</h4>
          <p class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, optio ex dolorum a consequuntur nemo modi. Sint ipsum consectetur non sequi eligendi saepe in, autem dolor illum, odio at perferendis!</p>      
      </div>
      
    </div>
       <div class="text-center">
          <a class="btn btn-primary btn-lg" href="/users/create_user" role="button"> SignUp</a>
        </div>
      <hr>
      <footer >
        <p class="text-center">&copy; 2016 Caveatemptors-Garbanzo, Inc.</p>
      </footer>
    </div> 

 {% endblock %}

